{% extends "blog/base.html" %}

{% block content %}

<div class="container">
        <h1>Welcome to SKYWORTH NPI Check List</h1>
	{% for post in posts %}
	<div>
		<p>
		Published date: {{ post.published_date }}
		</p>
		<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
		<p>
		{{ post.text | linebreaksbr }}	
		</p>
	</div>
	{% endfor %}
</div>


<div class="container">
		<div class="span5">
            <table class="table table-striped table-condensed table-bordered table-hover", id="equipment">
                  <thead>
                  <tr>
                      <th>Equipment</th>
                      <th>Quantity</th>
                      <th>ETD</th>
                      <th>Status</th>                                          
                  </tr>
              </thead>   
              <tbody>
                <tr>
                    <td>Stencil</td>
                    <td>2</td>
		    <td>5-Feb</td>
                    <td><span class="label label-success">Received</span>
                    </td>                                       
                </tr>
                <tr>
                    <td>Socket</td>
                    <td>16</td>
                    <td>N/A</td>
                    <td><span class="label label-danger">PR not issued</span></td>                                       
                </tr>
                <tr>
                    <td>Carrier</td>
                    <td>30</td>
                    <td>24-Feb</td>
                    <td><span class="label label-warning">Processing</span></td>                                        
                </tr>
                <tr>
                    <td>TV</td>
                    <td>10</td>
                    <td>17-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                       
                </tr>
                <tr>
                    <td>USB</td>
                    <td>4</td>
                    <td>17-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                   
                <tr>
                    <td>SPDIF Converter</td>
                    <td>6</td>
                    <td>17-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                   
                <tr>
                    <td>Computer Speaker</td>
                    <td>6</td>
                    <td>17-Feb</td>
                    <td><span class="label label-warning">PO issued</span></td>                                        
                </tr>                                   
                <tr>
                    <td>Attenuator</td>
                    <td>10</td>
                    <td>22-Feb</td>
                    <td><span class="label label-warning">PO issued</span></td>                                        
                </tr>                                   
                <tr>
                    <td>PC con monitor</td>
                    <td>9</td>
                    <td>17-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                   
                <tr>
                    <td>RS232 to RS232</td>
                    <td>3</td>
                    <td>17-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                   
                <tr>
                    <td>Printer</td>
                    <td>3</td>
                    <td>14-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                   
                <tr>
                    <td>Electronic Scale</td>
                    <td>1</td>
                    <td>1-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                   
                <tr>
                    <td>Server</td>
                    <td>1</td>
                    <td>N/A</td>
                    <td><span class="label label-danger">Listening the price</span></td>                                        
                </tr>                                   
                    <td>SQL License</td>
                    <td>1</td> 
                    <td>N/A</td>
                    <td><span class="label label-danger">PR not issued</span></td>                                        
                </tr>                                      
                 <tr>
                    <td>Bartender License</td>
                    <td>1</td> 
                    <td>N/A</td>
                    <td><span class="label label-danger">PR not issued</span></td>                                        
                </tr>                                      
                 <tr>
                    <td>Linear Amplifier</td>
                    <td>1</td> 
                    <td>22-Feb</td>
                    <td><span class="label label-warning">PO issued</span></td>                                        
                </tr>                                      
                 <tr>
                    <td>Wired Router</td>
                    <td>1</td> 
                    <td>11-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                      
                 <tr>
                    <td>Crystal Head</td>
                    <td>1</td> 
                    <td>17-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                      
                 <tr>
                    <td>Vibration Machine</td>
                    <td>1</td> 
                    <td>15-Apr</td>
                    <td><span class="label label-danger">PO issued</span></td>                                        
                </tr>                                      
                 <tr>
                    <td>H/I Temperature and  humidity machine</td>
                    <td>1</td> 
                    <td>15-Apr</td>
                    <td><span class="label label-danger">PO issued</span></td>                                        
                </tr>                                      
                 <tr>
                    <td>KIKUSUI</td>
                    <td>1</td> 
                    <td>11-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                      
                 <tr>
                    <td>Soak Car</td>
                    <td>1</td> 
                    <td>9-Mar</td>
                    <td><span class="label label-warning">PO issued</span></td>                                        
                </tr>                                      
              </tbody>
            </table>
            </div>
	</div>

	{% endblock %}

