{% extends "blog/base.html" %}

{% block content %}

<div class="container">
        <h1>Welcome to SKYWORTH NPI Check List</h1>
	{% for post in posts %}
	<div>
		<p>
		Published date: {{ post.published_date }}
		</p>
		<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
		<p>
		{{ post.text | linebreaksbr }}	
		</p>
	</div>
	{% endfor %}
</div>



<div class="container">
	<h2>Equipment Tracking</h2>
		<div class="span5">
            <table class="table table-striped table-condensed table-bordered table-hover", id="equipment">
                  <thead>
                  <tr>
                      <th>Equipment</th>
                      <th>Quantity</th>
                      <th>ETD</th>
                      <th>Status</th>                                          
                  </tr>
              </thead>   
              <tbody>
                <tr>
                    <td>Stencil</td>
                    <td>2</td>
		    <td>5-Feb</td>
                    <td><span class="label label-success">Received</span>
                    </td>                                       
                </tr>
                <tr>
                    <td>Socket</td>
                    <td>16</td>
                    <td>N/A</td>
                    <td><span class="label label-warning">PO issued</span></td>                                       
                </tr>
                <tr>
                    <td>Carrier</td>
                    <td>30</td>
                    <td>24-Feb</td>
                    <td><span class="label label-warning">Processing</span></td>                                        
                </tr>
                <tr>
                    <td>TV</td>
                    <td>10</td>
                    <td>17-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                       
                </tr>
                <tr>
                    <td>USB</td>
                    <td>4</td>
                    <td>17-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                   
                <tr>
                    <td>SPDIF Converter</td>
                    <td>6</td>
                    <td>17-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                   
                <tr>
                    <td>Computer Speaker</td>
                    <td>6</td>
                    <td>24-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                   
                <tr>
                    <td>Attenuator</td>
                    <td>10</td>
                    <td>22-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                   
                <tr>
                    <td>PC con monitor</td>
                    <td>9</td>
                    <td>17-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                   
                <tr>
                    <td>RS232 to RS232</td>
                    <td>3</td>
                    <td>17-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                   
                <tr>
                    <td>Printer</td>
                    <td>3</td>
                    <td>14-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                   
                <tr>
                    <td>Electronic Scale</td>
                    <td>1</td>
                    <td>1-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                   
                <tr>
                    <td>Server</td>
                    <td>1</td>
                    <td>N/A</td>
                    <td><span class="label label-danger">Listening the price</span></td>                                        
                </tr>                                   
                    <td>SQL License</td>
                    <td>1</td> 
                    <td>N/A</td>
                    <td><span class="label label-danger">PR not issued</span></td>                                        
                </tr>                                      
                 <tr>
                    <td>Bartender License</td>
                    <td>1</td> 
                    <td>N/A</td>
                    <td><span class="label label-danger">PR not issued</span></td>                                        
                </tr>                                      
                 <tr>
                    <td>Linear Amplifier</td>
                    <td>1</td> 
                    <td>22-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                      
                 <tr>
                    <td>Wired Router</td>
                    <td>1</td> 
                    <td>11-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                      
                 <tr>
                    <td>Crystal Head</td>
                    <td>1</td> 
                    <td>17-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                      
                 <tr>
                    <td>Vibration Machine</td>
                    <td>1</td> 
                    <td>15-Apr</td>
                    <td><span class="label label-danger">PO issued</span></td>                                        
                </tr>                                      
                 <tr>
                    <td>H/I Temperature and  humidity machine</td>
                    <td>1</td> 
                    <td>15-Apr</td>
                    <td><span class="label label-danger">PO issued</span></td>                                        
                </tr>                                      
                 <tr>
                    <td>KIKUSUI</td>
                    <td>1</td> 
                    <td>11-Feb</td>
                    <td><span class="label label-success">Received</span></td>                                        
                </tr>                                      
                 <tr>
                    <td>Soak Car</td>
                    <td>1</td> 
                    <td>9-Mar</td>
                    <td><span class="label label-warning">PO issued</span></td>                                        
                </tr>                                      
              </tbody>
            </table>
            </div>
	</div>

<div class="container">
	<h2>Schedule</h2>
	<div class="row">
	
	<div class="col-md-12">

      <table class="table table-striped table-condensed table-bordered table-hover" id="schedule">
      	<thead>
      		<tr>
      			<th>Item</th>
      			<th>Description</th>
      			<th>Quantity</th>
      			<th>3/27</th>
      			<th>3/28</th>
      			<th>3/29</th>
      			<th>3/30</th>
      			<th>3/31</th>
      			<th>4/01</th>
      			<th>4/02</th>
      			<th>4/03</th>
      			<th>4/04</th>
      			<th>4/05</th>
      			<th>4/06</th>
      			<th>4/07</th>
      		</tr>
      	</thead>
      	<tfoot>
      		<tr>
      			<th>Item</th>
      			<th>Description</th>
      			<th>Quantity</th>
      			<th>3/27</th>
      			<th>3/28</th>
      			<th>3/29</th>
      			<th>3/30</th>
      			<th>3/31</th>
      			<th>4/01</th>
      			<th>4/02</th>
      			<th>4/03</th>
      			<th>4/04</th>
      			<th>4/05</th>
      			<th>4/06</th>
      			<th>4/07</th>
      		</tr>
      	</tfoot>
		<tbody>
			<tr>
				<td>SMT</td>
				<td>SMT Loading Material</td>
				<td>100</td>
				<td>100</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>SMT</td>
				<td>SMT Bottom Side</td>
				<td>100</td>
				<td>100</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>SMT</td>
				<td>SMT Bottom Side Profile</td>
				<td>-2</td>
				<td>-2</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>SMT</td>
				<td>QC Buy-Off Board</td>
				<td>-1</td>
				<td>-1</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>SMT</td>
				<td>AOI #1</td>
				<td>97</td>
				<td>97</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>SMT</td>
				<td>SMT Top Side</td>
				<td>97</td>
				<td></td>
				<td>97</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>SMT</td>
				<td>SMT Top Side Profile</td>
				<td>-2</td>
				<td></td>
				<td>-2</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>SMT</td>
				<td>QC Buy-Off Board</td>
				<td>-1</td>
				<td></td>
				<td>-1</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>SMT</td>
				<td>AOI #2</td>
				<td>94</td>
				<td></td>
				<td>94</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>SMT</td>
				<td>Cross Section Dry & Pry</td>
				<td>-2</td>
				<td></td>
				<td>-2</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Dip Lines</td>
				<td>HI/TU</td>
				<td>92</td>
				<td></td>
				<td></td>
				<td>92</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Dip Lines</td>
				<td>WSM Reflow</td>
				<td>-6</td>
				<td></td>
				<td></td>
				<td>-6</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Dip Lines</td>
				<td>ATE1 Testing</td>
				<td>86</td>
				<td></td>
				<td></td>
				<td></td>
				<td>86</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Assembly Lines</td>
				<td>RID Label</td>
				<td>86</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>86</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Assembly Lines</td>
				<td>CT</td>
				<td>86</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>86</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Assembly Lines</td>
				<td>Packing</td>
				<td>86</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>86</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Assembly Lines</td>
				<td>OBA</td>
				<td>86</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>86</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Shipment</td>
				<td>ALT Test</td>
				<td>86</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>86</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Shipment</td>
				<td>Ship Out</td>
				<td>86</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>86</td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
      </table>




	</div>
	
	</div>
</div>

	
<div class="container">
	<h2>Equipment Registration</h2>
	<div class="row">
	
	<div class="col-md-12">

      <table class="table table-striped table-condensed table-bordered table-hover" id="EquipmentRegistration">
      	<thead>
      		<tr>
			<th>IDC</th>
			<th>Received Date</th>
			<th>Description</th>
			<th>Brand</th>
			<th>Model</th>
			<th>S/N</th>
			<th>Department Code</th>
			<th>Custodian NKG Code</th>
			<th>Customer Property</th>
			<th>Asset Number</th>
			<th>Lugar</th>
			<th>Foto</th>
      		</tr>
      	</thead>
      	<tfoot>
      		<tr>
			<th>IDC</th>
			<th>Received Date</th>
			<th>Description</th>
			<th>Brand</th>
			<th>Model</th>
			<th>S/N</th>
			<th>Department Code</th>
			<th>Custodian NKG Code</th>
			<th>Customer Property</th>
			<th>Asset Number</th>
			<th>Lugar</th>
			<th>Foto</th>
      		</tr>
      	</tfoot>
		<tbody>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>LCD TV 24"</th>
				<th>VIZIO</th>
				<th>D24-21</th>
				<th>LTT6UNCS4907981</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000001</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>LCD TV 24"</th>
				<th>VIZIO</th>
				<th>D24-21</th>
				<th>LTT6UNCS4906469</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000002</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>LCD TV 24"</th>
				<th>VIZIO</th>
				<th>D24-21</th>
				<th>LTT6UNCS4906471</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000003</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>LCD TV 24"</th>
				<th>VIZIO</th>
				<th>D24-21</th>
				<th>LTT6UNCS4907978</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000004</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>LCD TV 24"</th>
				<th>VIZIO</th>
				<th>D24-21</th>
				<th>LTT6UNCS4907974</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000005</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>LCD TV 24"</th>
				<th>VIZIO</th>
				<th>D24-21</th>
				<th>LTT6UNCS4906468</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000006</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>LCD TV 24"</th>
				<th>VIZIO</th>
				<th>D24-21</th>
				<th>LTT6UNCS4907982</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000007</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>LCD TV 24"</th>
				<th>VIZIO</th>
				<th>D24-21</th>
				<th>LTT6UNCS4907972</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000008</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>LCD TV 24"</th>
				<th>VIZIO</th>
				<th>D24-21</th>
				<th>LTT6UNCS4907975</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000009</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>LCD TV 24"</th>
				<th>VIZIO</th>
				<th>D24-21</th>
				<th>LTT6UNCS4906470</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000010</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Impresora de Etiquetas</th>
				<th>Zebra</th>
				<th>170XI4</th>
				<th>16J163701033</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000011</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Impresora de Etiquetas</th>
				<th>Zebra</th>
				<th>170XI4</th>
				<th>16J163701035</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000012</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Impresora de Etiquetas</th>
				<th>Zebra</th>
				<th>170XI4</th>
				<th>16J164101239</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000013</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Unidad Central de Procesos</th>
				<th>Acer</th>
				<th>VERITON M4640G</th>
				<th>DTVMTAA00264201B2A3000</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000014</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Unidad Central de Procesos</th>
				<th>Acer</th>
				<th>VERITON M4640G</th>
				<th>DTVMTAA00264201B3D3000</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000015</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Unidad Central de Procesos</th>
				<th>Acer</th>
				<th>VERITON M4640G</th>
				<th>DTVMTAA00255202F073000</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000016</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Unidad Central de Procesos</th>
				<th>Acer</th>
				<th>VERITON M4640G</th>
				<th>DTVMTAA00264201B3C3000</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000017</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Unidad Central de Procesos</th>
				<th>Acer</th>
				<th>VERITON M4640G</th>
				<th>DTVMTAA00264201B353000</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000018</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Unidad Central de Procesos</th>
				<th>Acer</th>
				<th>VERITON M4640G</th>
				<th>DTVMTAA00264201B263000</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000019</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Unidad Central de Procesos</th>
				<th>Acer</th>
				<th>VERITON M4640G</th>
				<th>DTVMTAA00264201B2E3000</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000020</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Unidad Central de Procesos</th>
				<th>Acer</th>
				<th>VERITON M4640G</th>
				<th>DTVMTAA00264201B053000</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000021</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Unidad Central de Procesos</th>
				<th>Acer</th>
				<th>VERITON M4640G</th>
				<th>DTVMTAA00264201B323000</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000022</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Monitor LCD 21.5"</th>
				<th>Asus</th>
				<th>VS229</th>
				<th>GBLMTF108863</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000023</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Monitor LCD 21.5"</th>
				<th>Asus</th>
				<th>VS229</th>
				<th>GBLMTF108862</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000024</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Monitor LCD 21.5"</th>
				<th>Asus</th>
				<th>VS229</th>
				<th>GBLMTF108888</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000025</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Monitor LCD 21.5"</th>
				<th>Asus</th>
				<th>VS229</th>
				<th>GBLMTF108887</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000026</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Monitor LCD 21.5"</th>
				<th>Asus</th>
				<th>VS229</th>
				<th>GBLMTF108858</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000027</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Monitor LCD 21.5"</th>
				<th>Asus</th>
				<th>VS229</th>
				<th>GBLMTF108859</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000028</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Monitor LCD 21.5"</th>
				<th>Asus</th>
				<th>VS229</th>
				<th>GBLMTF108886</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000029</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Monitor LCD 21.5"</th>
				<th>Asus</th>
				<th>VS229</th>
				<th>GBLMTF108857</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000030</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>IDC-011-17</th>
				<th>16-Feb-17</th>
				<th>Monitor LCD 21.5"</th>
				<th>Asus</th>
				<th>VS229</th>
				<th>GBLMTF108885</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000031</th>
				<th>Mini Market</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>N/A</th>
				<th>N/A</th>
				<th>Vascula Electronico</th>
				<th>AnHeng</th>
				<th>CHS-D-30</th>
				<th>N/A</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>SKY000000032</th>
				<th>Tooling Room</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>N/A</th>
				<th>MCI-023-16</th>
				<th>Fuente DE PODER</th>
				<th>KIKUSUI</th>
				<th>PCR4000M</th>
				<th>WD001368</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>sky000000036</th>
				<th>Tooling Room</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>N/A</th>
				<th>IDC-010-17</th>
				<th>RUTEADOR DE SENAL</th>
				<th>KIKUSUI</th>
				<th>PCR4000M</th>
				<th>N/A</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>sky000000033</th>
				<th>Tooling Room</th>
				<th>N/A</th>
			</tr>
			<tr>
				<th>N/A</th>
				<th>IDC-013-17</th>
				<th>MULTIPLICADOR DE SENAL</th>
				<th>ZINWELL</th>
				<th>LE-2010M-36G-T</th>
				<th>N/A</th>
				<th>RB2321</th>
				<th>B3J0040</th>
				<th>SKYWORTH</th>
				<th>sky000000035</th>
				<th>Tooling Room</th>
				<th>N/A</th>
			</tr>
		</tbody>
		</table>
		</div>
	</div>

</div>
	{% endblock %}

